
.graph {
  background: #333333;
  font: inherit;
  height: 800px;
  width: 1300px;

  canvas {
    display: block;
    position: absolute;
  }
}

.container {
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.toolbar {
  width: 20%;
  float: left;
}

.display {
  width: 80%;
  float: left;
  overflow: hidden;
}

/* Style the tab */
div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  /*padding: 14px 16px;*/
  font-size: 1.3em;
  transition: 0.2s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  /*padding: 6px 12px;*/
  border-top: none;
}

input, select {
  margin: 0.1em;
}

input[type="number"] {
   width: 3em;
}
